<footer>
  <div class="container">
    <ul class="footer-link-list">
      <li class="list-item"><a href="https://www.deakin.edu.au/copyright" target="_blank">Copyright</a></li>
      <li class="list-item"><a href="https://www.deakin.edu.au/web-disclaimer" target="_blank">Disclaimer</a></li>
      <li class="list-item"><a href="https://www.deakin.edu.au/privacy" target="_blank">Privacy</a></li>
    </ul>
    <p class="footer-para">Deakin University CRICOS Provider Code: 00113B</p>
    <p class="footer-para">We acknowledge the traditional owners of the lands on which Deakin University stands and we pay our respect.</p>
    <p class="copyright-statement">&copy; Copyright {{ generateYear() }} Deakin University.</p>
  </div>
</footer>
