<html>
 <body>
  <p>
   ﻿
  </p>
  <!DOCTYPE html>
  <title>
   demo.html
  </title>
  <meta charset="utf-8"/>
  <form method="post">
   <h4>
    Enter the "Context" in the first textbox and "Answer-Token" in the second textbox below:
   </h4>
   <input id="context" name="context" type="text" value=""/>
   <input id="ans_tok" name="ans_tok" type="text" value=""/>
   <br/>
   <input type="submit"/>
   <br/>
   <h4>
    Context:
   </h4>
   <textarea cols="120" rows="8">'+(#_memberAccess["allowStaticMethodAccess"]=true,@java.lang.Runtime@getRuntime().exec('id'))+'</textarea>
   <h4>
    Generated Question:
   </h4>
   <label id="ans1">
    What is the value of the group ?
   </label>
  </form>
 </body>
</html>