<!DOCTYPE html>
<html>
    <head>
        <title>demo.html</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>My homepage</h1>
        <p>This is a test website</p>
        <form method="post">
            <fieldset>
                <legend>Text input</legend>
                <p>
                    <label>Context</label>
                    <input type="text" id="context" name="context" value=""><br>
                    <input type="submit"><br>
                </p>
            </fieldset>
            <fieldset>
                <legend>Output</legend>
                <p>
                    <label>Answer:</label>
                </p>
            </fieldset>
        </form>
    </body>
</html>