<div class="container">

<div *ngIf="mode=='quiz' && quiz">
<!--Save the Questions with the updated options-->
</div>

<div *ngIf="mode=='result'">
  <!--Save the Questions with the updated options-->
  <des-button (click)="playQuiz()" class="des-float-right" style="margin-top: 20px;">Play Quiz</des-button>
</div>




  <div class="row-options">
  <!--QUIZ mode to update options-->
    <div *ngIf="mode=='editQuestion'">
      
      <form #f="ngForm" >
      <!--Loop for Tokens-->
      <div *ngFor="let question of quiz.tokens; let qIndex = index">
        <fieldset>
        <h3>{{question.questionToken}}</h3>
       
            <!--Answer token-->
            <div class="row">
              <div class="col-8">
                <input type="text" class="answerTokenField" name="questions-{{qIndex}}" 
                value="{{getAnswerText(question)}}" >
              </div>
            </div><br/>
         
          <!--Loop for Options-->
          <div *ngFor="let option of question.options;let aIndex= index;">
            <div class="form-group"
            [class.has-success]="namecontrol.valid">
              <div class="row">
                <div class="col-8">
                  <input type="text" [class.has-error]="namecontrol.invalid && namecontrol.touched" 
                  name="questions-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.name" 
                  #namecontrol="ngModel" style="margin-bottom: 15px;" required>
                </div><br/>
                <!--Remove Option-->
                <div class="col-1">
                  <a (click)="removeOption(question.options, aIndex)"><i class="fas fa-trash" ></i></a>
                </div>
              </div>
            </div>
          </div>

          <!--Add Option-->
          <des-button (click)="addOption(qIndex)" class="des-float-right" >Add option</des-button>
          
       
      </fieldset>

    </div>
  
  
    
    <!--Save Options to db-->
    <des-button (click)="saveOptions()" class="des-float-right" style="margin-top: 20px;" 
    [disabled]="!f.invalid ? null : 'true'">Save</des-button>

  </form>

  </div>
    
  </div>


   <!--Loading spinner-->
   <div class="loadingSpinner"  *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>