<div class="container" style="margin-top: 20px;">
  <div class="card-header" >
    <label class="question-header">Questions<span class="highlightText">*</span></label>
  </div>
  <div class="row-options">
    
  <!--editQuestion mode to update options-->
    <div *ngIf="mode=='editQuestion'">
      
      <form #editOptions="ngForm" >
      <!--Loop for Tokens-->
      <div *ngFor="let question of quiz?.tokens; let qIndex = index" >
         <br/>
       
        <div style="border:1px solid #cecece;">
        <fieldset>
          <label class="questions-label">{{question.questionToken}}</label>
          <span class="text">Available options<span class="highlightText">*</span></span>
          <!--Loop for Options-->
          <div *ngFor="let option of question.options;let aIndex= index;" class="options" >
            <div class="form-group"
            [class.has-success]="namecontrol.valid"  [ngClass]="correctOption(aIndex)" style="padding: 20px; width: 700px;" >
            
            <div class="row">
                <div class="col-8" >
                <!--Feedback component -->  
                <div class="border border-secondary">
                  <app-accordion>
                    <app-accordion-item title="{{option.name}}" >
                      <span class="optionText">Text<span class="highlightText">*</span></span>
                      <input type="text" [class.has-error]="namecontrol.invalid && namecontrol.touched" 
                      name="questions-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.name" 
                      #namecontrol="ngModel" style="margin-bottom: 15px; border: 2px solid #d0d0d1;" required>
                      <app-accordion>
                        <app-accordion-item title="Tips & Feedback" >
                          <div class="mb-3">
                            <label for="choosenFeedback" class="form-label">Message displayed if option is selected</label>
                            <input type="text" class="form-control" name="feedbackOne-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.chosenFeedback" 
                            style="margin-bottom: 15px;" >
                          </div>
                          <div class="mb-3">
                            <label for="notChoosenFeedback" class="form-label">Message displayed if option is not selected</label>
                            <input type="text" class="form-control" name="feedbackTwo-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.notChosenFeedback" 
                            style="margin-bottom: 15px;" >  
                          </div>
                        </app-accordion-item>
                    </app-accordion>
                    </app-accordion-item>
                  </app-accordion>
                </div>
                </div><br/>
                
                <!--Correct Icon-->
                <i class="fas fa-check" *ngIf="!deleteButton" style="color:#17AC58"></i>
                <!--Remove Option-->
                <div *ngIf="deleteButton" class="col-1">
                  <a (click)="removeOption(question.options, aIndex)"><i class="fas fa-trash" style="padding-top: 10px;"></i></a>
                </div>
              </div>
            </div>
          </div><br/>

          <!--Add Option-->
          <des-button (click)="addOption(qIndex)" class="addOption-button" type="outline">Add option</des-button>
          
          <!-- <hr/> -->
      </fieldset>
    </div><br/><br/>
    </div>
    
  
    
    <!--Save Options to db-->
    <des-button (click)="saveOptions()" class="des-float-left" style="margin-top: 20px;" 
    [disabled]="!editOptions.invalid ? null : 'true'" [disabled]="loading">Save</des-button>

  </form>

  </div>
    
  </div>


   <!--Loading spinner-->
   <div class="loadingSpinner"  *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>