<div class="container">

  <div class="row-options">
    
  <!--editQuestion mode to update options-->
    <div *ngIf="mode=='editQuestion'">
      
      <form #editOptions="ngForm" >
      <!--Loop for Tokens-->
      <div *ngFor="let question of quiz?.tokens; let qIndex = index">
        <fieldset>
        <h3>{{question.questionToken}}</h3>
       
            <!--Answer token-->
            <div class="row">
              <div class="col-8">
                <input type="text" class="answerTokenField" name="questions-{{qIndex}}" 
                value="{{getAnswerText(question)}}" >
              </div>
            </div><br/>
         
          <!--Loop for Options-->
          <div *ngFor="let option of question.options;let aIndex= index;" style="padding: 10px;">
            <div class="form-group"
            [class.has-success]="namecontrol.valid"  class="border border-secondary" style="padding: 20px; width: 700px;" >
              <div class="row" >
                <div class="col-8" >
                  <input type="text" [class.has-error]="namecontrol.invalid && namecontrol.touched" 
                  name="questions-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.name" 
                  #namecontrol="ngModel" style="margin-bottom: 15px;" required>

                <!--Feedback component -->  
                <div class="border border-secondary">
                  <app-accordion>
                    <app-accordion-item title="Tips & Feedback" >
                      <div class="mb-3">
                        <label for="choosenFeedback" class="form-label">Message displayed if option is selected</label>
                        <input type="text" class="form-control" name="feedbackOne-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.choosenFeedback" 
                        style="margin-bottom: 15px;" >
                      </div>
                      <div class="mb-3">
                        <label for="notChoosenFeedback" class="form-label">Message displayed if option is not selected</label>
                        <input type="text" class="form-control" name="feedbackTwo-{{qIndex}}-{{aIndex}}" [(ngModel)]="option.notChoosenFeedback" 
                        style="margin-bottom: 15px;" >  
                      </div>
                    </app-accordion-item>
                  </app-accordion>
          
                
                </div>
                </div><br/>
                <!--Remove Option-->
                <div class="col-1">
                  <a (click)="removeOption(question.options, aIndex)"><i class="fas fa-trash" style="padding-top: 10px;"></i></a>
                </div>
              </div>
            </div>
          </div><br/>

          <!--Add Option-->
          <des-button (click)="addOption(qIndex)" class="des-float-right" >Add option</des-button>
          
       
      </fieldset>

    </div>
  
  
    
    <!--Save Options to db-->
    <des-button (click)="saveOptions()" class="des-float-right" style="margin-top: 20px;" 
    [disabled]="!editOptions.invalid ? null : 'true'">Save</des-button>

  </form>

  </div>
    
  </div>


   <!--Loading spinner-->
   <div class="loadingSpinner"  *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>