  <!--Search bar -->
  <div class="row">
   
    <div class="col-sm-8 order-2 order-sm-1 des-margin-bottom-small vertical-grid-spacing">
      <form [formGroup]="searchForm">
        <div class="des-form-group">
          <input class="des-form-item-field" type="text" placeholder="search"
       (keyup)="searchTerm.next($event)" formControlName="search"/>
          <!--<div *ngIf="loading">
            <p class="search-message">Searching</p>
            <div class="lds-ellipsis"></div>
          </div>!-->
          
          </div>
      </form>
    </div>
  </div>

<div class="row justify-content-end">
  <div class="xcol-sm-12 xcol-lg-6 vertical-grid-spacing">
    <des-button-group>
      <des-button [routerLink]="'edit-quiz'" >New Quiz</des-button>
    </des-button-group>
  </div>
</div>

<div class="row">
  <div *ngIf="quizList?.data.length == 0" class="col-12 vertical-grid-spacing">
    <des-card>
      <h2 class="des-card-title no-items-found">No items found...</h2>
      <!-- <p class="block-with-text xmr-1">No items found...</p> -->
    </des-card>
  </div>
  <div
    *ngFor="let item of quizList?.data | paginate : { itemsPerPage: limit, currentPage: pageNumber, totalItems: total }" 
    class="col-sm-12 col-lg-6 vertical-grid-spacing"
  >
    <des-card layout="advertising" [desShadow]="2"
      [routerLink]="['edit-quiz', item._id]">
      <img src="/assets/quiz-icon.png">
      <h2 class="des-card-title"><a [routerLink]="['edit-quiz', item._id]">{{item.name}}</a></h2>
      <p class="block-with-text mr-1">{{item.plainText}}</p>
      <div class="des-card-footer">
        <des-card-metadata [subtitle]="'Posted by'"
                       [title]="'Joe Bloggs'"
                       [date]="item.dateModified | date"
                       [avatarUrl]="'https://www.deakin.edu.au/__data/assets/image/0004/1488730/student-examines-model-spine_2195_600x475_hero2.jpg'"
                       [actionUrl]="'#'"></des-card-metadata>
        <!-- <p>This is footer content</p> -->
       <!--<des-button-group>
       <des-button (click)="deleteQuiz(item._id)">Delete</des-button> <des-button format="inverse">Action 2</des-button>!--
        </des-button-group> !-->
      </div>
    </des-card>
  </div>
  
<!--Loading spinner-->
<div class="row" *ngIf="loading">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw center"></i><br/><br/>
         <span>Loading Results..</span>
</div>
  
</div>


  <!--Pagination div-->
  <div *ngIf="hidePagination">
  <pagination-controls maxSize = "6" directionLinks = "true" (pageChange) = "pageChange($event)"></pagination-controls>
  </div>

