
<div class="row justify-content-end">
  <div class="xcol-sm-12 xcol-lg-6 vertical-grid-spacing">
    <des-button-group>
      <des-button [routerLink]="'edit-quiz'" >New Quiz</des-button>
    </des-button-group>
  </div>
</div>

<div class="row">
  <des-alert-panel></des-alert-panel>
  <div
    *ngFor="let item of (quizList | async)?.data"
    class="col-sm-12 col-lg-6 vertical-grid-spacing"
  >
    <des-card layout="advertising" [desShadow]="2"
      [routerLink]="['edit-quiz', item._id]">
      <img src="/assets/quiz-icon.png">
      <h2 class="des-card-title"><a [routerLink]="['edit-quiz', item._id]">{{item.name}}</a></h2>
      <p class="block-with-text mr-1">{{item.plainText}}</p>
      <div class="des-card-footer">
        <des-card-metadata [subtitle]="'Posted by'"
                       [title]="'Author name'"
                       [date]="'28 February 2019'"
                       [avatarUrl]="'https://www.deakin.edu.au/__data/assets/image/0004/1488730/student-examines-model-spine_2195_600x475_hero2.jpg'"
                       [actionUrl]="'#'"></des-card-metadata>
        <!-- <p>This is footer content</p> -->
        <!-- <des-button-group>
          <des-button>Action 1</des-button> <des-button format="inverse">Action 2</des-button>
        </des-button-group>  -->
      </div>
    </des-card>
  </div>
</div>
