<div class="container">
 
  <!-- <des-button-group>
    <label><des-button>1</des-button> Upload content</label>
    <label><des-button format="outline">2</des-button> Review content</label>
    <des-button format="outline" size="small" [disabled]="true">2</des-button><label>Review content</label>
  </des-button-group> -->

  <app-tab-container class="des-margin-top-large des-margin-bottom-large">
    <!-- <app-tab-panel title="1. Upload Content"> -->
    <app-tab-panel title="1. Content & Key Phrases">
      <div class="container">
        <div class="row">
            <app-text-editor #textEditor [tokens]="tokens" [textValue]="textValue" (newToken)='newToken($event)' 
              class="col-sm-8 order-2 order-sm-1 vertical-grid-spacing">
            </app-text-editor>
  
            <div class="col-sm-4 order-1 order-sm-2 vertical-grid-spacing align-items-end" id="chip-default-wrapper">
              <div class="row align-items-end">
                <ejs-chiplist cssClass="e-success" [chips]="tokens" #chipsList enableDelete="true" (delete)="deleteToken($event)">
                </ejs-chiplist>
              </div>
              <div style="position: absolute; bottom: 0px; right: 0;">
                <des-button (click)="generateQuiz()">Generate Quiz</des-button>
              </div>
            </div>
          </div>
                    
      </div>
    </app-tab-panel>
    <!-- <app-tab-panel title="2. Review Content">
      <div class="row">
        <ng-container>
          
        </ng-container>
      </div>
    </app-tab-panel>
    <app-tab-panel title="3. Select answer token">
      <div class="row">
        <ng-container>
          
        </ng-container>
      </div>
    </app-tab-panel> -->
    <app-tab-panel title="2. Question suggestions">
      <div class="row">
        <ng-container>
          
        </ng-container>
      </div>
    </app-tab-panel>
  </app-tab-container>

</div>

