<div class="container">
 
  <a class="des-button des-format-text" [href]="exportH5pUrl" 
    style="position: absolute; right: 95px; margin: 8px;" >Export to H5P</a>

  <!--Edit quiz options icon-->
  <a class="des-button des-format-text" [routerLink]="['/edit-question', quizId]" 
    style="position: absolute; right: 60px; margin: 8px;" ><i class="fas fa-edit"></i></a>
  
  <!--Delete quiz icon-->
  <button  class="des-float-right" [disabled]="canDeleteQuiz ? null : 'disabled'" (click)="onOpenDialog($event)" 
    style="position: absolute; right: 27px; margin: 4px; height: 30px" ><i class="fa fa-trash"></i></button>

  <!-- <des-button-group>
    <label><des-button>1</des-button> Upload content</label>
    <label><des-button format="outline">2</des-button> Review content</label>
    <des-button format="outline" size="small" [disabled]="true">2</des-button><label>Review content</label>
  </des-button-group> -->

  <app-tab-container (tabChanged)="tabChanged($event)" class="des-margin-top-large des-margin-bottom-large">
    <!-- <app-tab-panel title="1. Upload Content"> -->
    
    <app-tab-panel [active]="activeTab === 0"  title="Content & Key Phrases">

    
      <div class="container">
        <des-alert-panel *ngIf="userError" purpose="warning">{{userError}}</des-alert-panel>
        <div class="row">
          <div class="col-sm-8 order-2 order-sm-1 des-margin-bottom-small vertical-grid-spacing">
            <form (ngSubmit)="generateQuiz()">
              <div class="des-form-group">
                <!-- <label for="first-name">Last name</label> -->
                <input placeholder="Quiz Title" type="text" 
                  [(ngModel)]="name" name="name" id="name" 
                  required class="des-form-item-field" />
              </div>
            </form>
          </div>
        </div>

        <div class="row">
            <app-text-editor #textEditor [tokens]="answerTokens" [textValue]="textValue" (newToken)='newToken($event)' 
                            (generateSuggestedAnswerTokens)='generateSuggestedAnswerTokens($event)'
              class="col-sm-8 order-2 order-sm-1 vertical-grid-spacing">
            </app-text-editor>
  
            <div class="col-sm-4 order-1 order-sm-2 vertical-grid-spacing align-items-end" id="chip-default-wrapper">
              <div class="row align-items-end" style="margin-top: 50px;">
                <ejs-chiplist cssClass="e-success" [chips]="answerTokens" #chipsList enableDelete="true" (delete)="deleteToken($event)">
                </ejs-chiplist>
              </div>
              <des-button-group spacing="none" style="position: absolute; top: -55px; right: 0; text-align: right;">
                <des-button shape="round-both" size="small" [disabled]="canGenerateQuiz ? null : 'disabled'" (click)="generateQuiz()">Generate Quiz</des-button>
                <br/>
                <br/>
                <des-button size="small" type="text" [disabled]="canClearTokens ? null : 'disabled'" (click)="clearTokens()">Clear</des-button>
                <des-button shape="round-both" size="small" type="inverse-outline" [disabled]="canSuggestKeyPhrases ? null : 'disabled'" (click)="generateSuggestedAnswerTokens({})">Suggest Key Phrases</des-button>
              </des-button-group>

            </div>
          </div>
                    
      </div>
    </app-tab-panel>
    <!-- <app-tab-panel title="2. Review Content">
      <div class="row">
        <ng-container>
          
        </ng-container>
      </div>
    </app-tab-panel>
    <app-tab-panel title="3. Select answer token">
      <div class="row">
        <ng-container>
          
        </ng-container>
      </div>
    </app-tab-panel> -->
    <app-tab-panel [active]="activeTab === 1" title="Question Suggestions">
      <div class="container">
       
        <div class="row">
          <app-progress-bar
            min="0"
            [max]="5"
            [value]="2"
            [message]="'100% complete'"
          ></app-progress-bar>
        </div>
        <div class="row">
          <div
            *ngFor="let token of quiz?.tokens"
            class="col-12 vertical-grid-spacing"
          >

            <des-card layout="horizontal">
              <!-- <div class="loading-img-container" *ngIf="token.status!== 'processed'">
                <img class="loading-img" src="/assets/spinner.svg"/>
              </div> -->
              <h2 class="des-card-title">
                <a title="{{getQuestionTitle(token)}}">
                  <img *ngIf="isProcessing(token)" class="loading-img" src="/assets/spinner.svg"/> 
                  <img *ngIf="isError(token)" class="loading-img" src="/assets/error.png"/> 
                  <span [ngClass]="{'loading-answer-text': isProcessing(token) || isError(token)}">{{getQuestionText(token)}}</span>
                </a>
               
                
              </h2>
              <div class="container">
              <div class="row">
                <div class="child">
                  <p class="answerToken">{{getAnswerText(token)}} </p> 
                </div>
               
              <div *ngFor="let option of token.options | slice:1">
                <div class="child">
                  <p class="options">{{option.name}} </p>
                </div>
              </div>
            </div>
          </div>
            </des-card>

          </div>
        </div>
      </div>
    </app-tab-panel>
  
  </app-tab-container>
  

  <!-- Delete confirmation dialog-->
  <div #container class='root-container'></div>
  <ejs-dialog id='dialog' #ejDialog header=''  [visible]='visible' [content]='dialogHeader' [target]='targetElement' width='250px' [buttons]='buttons'>
  </ejs-dialog>

  <!--Loading spinner-->
  <div class="loadingSpinner"  *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>

</div>

